[FORMAT]
2.0

[DATA FILE]
cnsUniform2D.h

[MESH FILE]
cnsSquareCylinderQuad2D.msh

[MESH DIMENSION]
2

[ELEMENT TYPE] # number of edges
4

[POLYNOMIAL DEGREE]
7

[THREAD MODEL]
#OpenMP
#Serial
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[GAMMA]
1.4

[VISCOSITY]
0.00056

[ISOTHERMAL]
FALSE

[CFL NUMBER]
0.5

# can be CUBATURE or COLLOCATION
[ADVECTION TYPE]
#COLLOCATION
CUBATURE

[TIME INTEGRATOR]
DOPRI5

[START TIME]
0

[FINAL TIME]
100.0

[OUTPUT INTERVAL]
1

[OUTPUT TO FILE]
TRUE
#FALSE

[OUTPUT FILE NAME]
cnsSquareCylinderQuad2D
