[FORMAT]
2.0

[DATA FILE]
bnsUniform2D.h

[MESH FILE]
bnsSquareCylinderTri2D.msh

[MESH DIMENSION]
2

[ELEMENT TYPE] # number of edges
3

[POLYNOMIAL DEGREE]
7

[THREAD MODEL]
#OpenMP
#Serial
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[VISCOSITY]
0.004

[SPEED OF SOUND]
3.0

[PML PROFILE ORDER]
4

[PML SIGMAX MAX]
50

[PML SIGMAY MAX]
50

[PML INTEGRATION]
COLLOCATION

[TIME INTEGRATOR]
SARK4

[CFL NUMBER]
0.5

[START TIME]
0

[FINAL TIME]
100.0

[OUTPUT INTERVAL]
1

[OUTPUT TO FILE]
TRUE
#FALSE

[OUTPUT FILE NAME]
bnsSquareCylinderTri2D
